<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi primer Pagina web</h1>
    <p>{{ name }}</p>
    {% block content %}
        <ul>
            {% for category in  categorias%}
                <li>
                    {{category.id}} / {{category.name}}
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>